body {
  margin: 0;
}

.review-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.review-container img {
  height: 50px;
  margin-right: 10px;
}

.clickable-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.clickable-text:hover {
  color: #d1d1d1;
}
